.footer {
    padding: 40px;
    color: white;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .logo {
    width: 130px;
    height: 80px;
  }
  
  .logo-text {
    font-size: 1.2rem;
    margin-left: 20px;
  }
  
  .links-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
    
    
    
  }
  
  .links-container li {
    margin-bottom: 10px;
  }
  
  .links-container a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .social-icons-container img {
    width: 30px;
    margin-left: 10px;
  }
  