.speak-to-the-goals-container {
    background-color: #181818;
    width: 100%;
    height: 500px;
}

.speak-to-the-goals-container p {
    color: white;
    font-size: 15px;
    font-weight: 800;
    font-style: italic;
    display: flex;
    justify-content: right;
    margin-right: 15px;
}

.speak-to-the-goals-container h1{
   color: white;
   font-size: 30px;
   padding-left: 40px;
   padding-top: 40px;
   font-weight: 800;
   font-style: italic;
}

.speak-to-the-goals-button-container {
    display: flex;
    justify-content: center;
}

.speak-to-the-goals-title {
    padding: 20px;
}