@media only screen and (max-width: 768px) {

.acrobatics-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.title{
	color: white;
	padding-left: 20px;
	background-color: blue;
}



.stripes{
	position: relative;
	width: 100%;
}
  
.man {
width: 100%;
top: 0;
right: 0%;
  }
  
  
  .acrobatics {
	text-align: left;
	margin-left: 0;
	
  }
  
  .title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	
  }



  .upp{
	width: 100%;
  }

  .BookaClass{
	background-color: #FA005B;
	border: none;
	color: white;
	height: 36px;
	width: 170px;
	font-family: Kulim Park;
font-size: 21px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.022em;


	;
  }
  
}