/*navbar*/
.NavBar nav ul li{
	display: inline-block;
	margin: 1.5w;
}

.NavBar nav ul li a {
	text-decoration: none;
	color: white;

}

.NavBar a:hover {
	border-bottom: 5px solid pink;
}

.NavBar .MobileNavigation {
	display: none;
}

@media (max-width: 990px){
	.NavBar .desktop{
		display: none;
	}

	.NavBar .MobileNavigation{
		display: flex;
		align-items: center;
		background-color: red;
	}

	.NavBar .MobileNavigation .Hamburger {
		position: absolute;
		right: 5%;
		cursor: pointer;
	}

	.NavBar nav ul{
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 10%;
	    right: 5%;
		width: 80px;
		border: 2px solid pink;
	}
	


}