/*navbar*/
.NavBar nav ul li{
	display: inline-block;
	margin: 1.5w;
}

.NavBar nav ul li a {
	text-decoration: none;
	color: white;

}

.NavBar a:hover {
	border-bottom: 5px solid pink;
}

.NavBar .MobileNavigation {
	display: none;
}

@media (max-width: 990px){
	.NavBar .Navigation{
		display: none;
	}

	.NavBar .MobileNavigation{
		display: flex;
		align-items: center;
		background-color: red;

	}

	.NavBar .MobileNavigation .Hamburger {
		position: absolute;
		right: 5%;
		cursor: pointer;
	}


}