/*navbar*/
.NavBar nav ul li{
	display: inline-block;
}

.NavBar nav ul li a {
	text-decoration: none;
	color: #0962CF ;

}

.NavBar a:hover {
	border-bottom: 5px solid pink;
}

.NavBar .MobileNavigation {
	display: none;
}

@media (max-width: 990px){
	.NavBar .desktop{
		display: none;
	}

	.NavBar .MobileNavigation{
		display: flex;
	}

	.NavBar .MobileNavigation .Hamburger {
		position: absolute;
		z-index: 1;
		left: 75%;
		top: 3vh;
		border: none;
		background-color: #0962CF;
		cursor: pointer;
	}

	.NavBar nav ul{
		display: flex;
		flex-direction: column;
		background-color: rgba(255, 255, 255, 0.85);
		position: absolute;
		top: -12%;
		right: 0vw;
		width: 214px;
		height: 344px;
		color: #0962CF ;
	}
	
	ul {
		list-style: none;
		color: #0962CF;
		line-height: 42px;
		font-style: normal;
		margin-top: 80px;
		font-size: 18px;
		padding-top: 20%;
	  }
	  
	  ul li::before {
		content: "\2022";
		width: 22px;
		color: #0962CF;
		display: inline-block;
		font-size: 56px;
		vertical-align: -12px;
		margin-right: 10px;
		text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
	  }

	

}