@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Kulim+Park&display=swap');

p{
font-family: 'Kulim Park', sans-serif;
}
@media only screen and (max-width: 768px){
	.hero-container {
		display: flex;
		justify-content: flex-end;
		position: relative;
		height: 100vh;
		background-image: url('./womanstart.png');
		background-size: cover;
	  }
	  
	  .goBeyond {
		color: #B9F615;
		position: absolute;
		left: 53%;
		top: 28%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 402px;
		height: 326px;
		font-family: 'Kulim Park';
		font-style: italic;
		font-weight: bold;
		font-size: 7rem;
	  }
	  
	  .goBeyond1 {
		color: #B9F615;
		position: absolute;
		left: 63%;
		top: 38%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 402px;
		height: 326px;
		font-family: 'Kulim Park';
		font-style: italic;
		font-weight: bold;
		font-size: 7rem;
	  }
	  
	  .goBeyond2 {
		color: #B9F615;
		position: absolute;
		left: 73%;
		top: 48%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 402px;
		height: 326px;
		font-family: 'Kulim Park';
		font-style: italic;
		font-weight: bold;
		font-size: 7rem;
	  }
	  
	  .goBeyond3 {
		color: #B9F615;
		position: absolute;
		left: 83%;
		top: 58%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 402px;
		height: 326px;
		font-family: 'Kulim Park';
		font-style: italic;
		font-weight: bold;
		font-size: 7rem;
	  }
	  
	  .hero-paragraph {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		background-color: rgba(0, 0, 0, 0.5);
	  }
	  
	  
	  

}

/*Tablet*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
 {
	.hero-container {
		display: flex;
		justify-content: flex-end;
		position: relative;
		height: 100vh;
		background-image: url('./womanstart.png');
		background-size: cover;
	  }
	  
	  .goBeyond {
		color: #B9F615;
		position: absolute;
		left: 53%;
		top: 28%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 402px;
		height: 326px;
		font-family: 'Kulim Park';
		font-style: italic;
		font-weight: bold;
		font-size: 7rem;
	  }
	  
	  .goBeyond1 {
		color: #B9F615;
		position: absolute;
		left: 63%;
		top: 38%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 402px;
		height: 326px;
		font-family: 'Kulim Park';
		font-style: italic;
		font-weight: bold;
		font-size: 7rem;
	  }
	  
	  .goBeyond2 {
		color: #B9F615;
		position: absolute;
		left: 73%;
		top: 48%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 402px;
		height: 326px;
		font-family: 'Kulim Park';
		font-style: italic;
		font-weight: bold;
		font-size: 7rem;
	  }
	  
	  .goBeyond3 {
		color: #B9F615;
		position: absolute;
		left: 83%;
		top: 58%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 402px;
		height: 326px;
		font-family: 'Kulim Park';
		font-style: italic;
		font-weight: bold;
		font-size: 7rem;
	  }
	  
	  .hero-paragraph {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 50%;
		background-color: rgba(0, 0, 0, 0.5);
	  }

}






/*desktop*/
@media screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1600px) 
  { 

.hero-container {
	display: flex;
	justify-content: flex-end;
	position: relative;
	height: 100vh;
	background-image: url('./womanstart.png');
	background-size: cover;
  }
  
  .goBeyond {
	color: #B9F615;
	position: absolute;
	left: 53%;
	top: 28%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 402px;
	height: 326px;
	font-family: 'Kulim Park';
	font-style: italic;
	font-weight: bold;
	font-size: 7rem;
  }
  
  .goBeyond1 {
	color: #B9F615;
	position: absolute;
	left: 63%;
	top: 38%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 402px;
	height: 326px;
	font-family: 'Kulim Park';
	font-style: italic;
	font-weight: bold;
	font-size: 7rem;
  }
  
  .goBeyond2 {
	color: #B9F615;
	position: absolute;
	left: 73%;
	top: 48%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 402px;
	height: 326px;
	font-family: 'Kulim Park';
	font-style: italic;
	font-weight: bold;
	font-size: 7rem;
  }
  
  .goBeyond3 {
	color: #B9F615;
	position: absolute;
	left: 83%;
	top: 58%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 402px;
	height: 326px;
	font-family: 'Kulim Park';
	font-style: italic;
	font-weight: bold;
	font-size: 7rem;
  }
  
  .hero-paragraph {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  
}