.grid-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}
  
  @media (min-width: 1023px) {
    .grid-container {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
    }
  }
  