.main-content-container {
    width: 75%;
    margin: auto;
    background-color: rgba(149, 166, 181, 0.5);
    border-radius: 8px 80px;
    height: 323px;
    padding: 20px;
    color: white;
}
.main-text {
    display: flex;  
    flex-direction: column;
    gap: 15px;
}

.main-text h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: white;
}

.buttons-container {
    display: flex;
    gap: 15px;
    justify-content: left;
}

.main-text p {
    color: white;
    margin-bottom: 15px;
} 

.newscircle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #EB5577;
    font-size: 16px;
}

.newscirclepicture {
    width: 250px;
    height: 250px;
    display: none;
}
