/* /////////////// MOBILE //////////////////////// */

.main-content-container {
    width: 65%;
    margin: auto;
    background-color: rgba(149, 166, 181, 0.6);
    border-radius: 8px 80px;
    height: 60vh;
    padding: 40px;
    color: white;
}
.main-text {
    display: flex;  
    flex-direction: column;
    gap: 15px;
}

.main-text h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: white;
    font-style: italic;
}

.buttons-container {
    display: flex;
    gap: 15px;
    justify-content: left;
}

.main-text p {
    color: white;
    margin-bottom: 13px;
    font-style: italic;
} 

.circle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 520px;
    left: calc(50% + 10px);
}

.circle {
    width: 80px;
    height: 80px
}

/* /////////////// BIG MOBILE //////////////////////// */

@media (min-width: 667px) {
.circle-box {
    top: 760px;
    left: calc(50% + 30px);
}
.circle {
    width: 100px;
    height: 100px
}
}

/* /////////////// TABLET //////////////////////// */

@media (min-width: 768px) {
    .main-content-container {
        height: 70%;
        width: 30%;
        margin-left: 8%;
}
.circle-box {
    top: 960px;
    left: calc(50% + 100px);
}
.circle {
    width: 100px;
    height: 100px
}
}

/* /////////////// LAPTOP //////////////////////// */

@media (min-width: 1023px) {
    .main-content-container {
        height: 40%;
}
.circle-box {
    top: 93%;
    left: calc(50% + 180px);
}
.circle {
    width: 100px;
    height: 100px
}
}


