.socialproof-content-container {
    background-color: #F0EAE1;
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-main-text h1 {
    color: #95A6B5;
}
.social-main-text p {
    color: #95A6B5;
    padding-bottom: 35px;
}
@Media
 (min-width: 668px) {
    .buttons-container {
        display: flex;
        align-items: left;
    }
}