.client-review-container {
    background-color: #D7CBFF;
    width: 100vw;
  }
  
  .client-review-container h1 {

  color: #03092E;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin:10px;
  padding:10px;
  }
  
  .client-review-container h3 {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 500;
  color: #03092E;
  padding-left: 20px;
  } 
  
  .client-review-container p {
    font-size: 1rem;
    color: #03092E;
    } 
  
  .card {
    box-shadow: 0px 5px 31px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    max-width: 40vw;
    max-height: 40vw;
    justify-content: center;
    }
    
  
  .card img {
    margin: 20px;
  
  }

  .slick-track{
  display: flex;
  position: relative;
  top: 0;
  left: 0;


  }
  .slick-track .slick-dots li button:before {
  content: "";
  position: absolute;
  top: 74.5px ;
  width: 25px; 
  height: 25px; 
  background-color: #62CABC; 
  border-radius: 50%;
  opacity: 0.8; 
}

.slick-track .slick-dots li.slick-active button:before {
  background-color: #082824; 
}
