.footer {
    width: 100%;
    max-height: 500px;
    padding: 50px;
    background-color: #4C5A66;
    color: var(--main-light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

hr {
    color: var(--main-light-color);
    border: 0.25px solid var(--main-light-color);
    opacity: 0.5;
    width: 40%;
}

.linkfield {
    display: flex;
    flex-direction: row;
    gap: 65px;
}

.iconfield {
    display: flex;
    flex-direction: row;
    gap: 25px;
}