.info-page-wrapper{
  width: 90vw;
  margin:20px;
  height:210vh;
}
.info-page-wrapper h1 {
    margin-top:2.5rem;
    margin-bottom:2rem;
}
.image-wrapper {
position:relative;
}
#man-stretching{
  max-width: 80vw;
}
@media (min-width: 380px)
{
  .info-page-wrapper{
    height:160vh;
  }
}

@media (min-width:760px)
{
  .info-page-wrapper{
    height:140vh;
    display: flex;
  }
.coach-support{
  display: flex;
  flex-direction: column;
  border: red 2px solid;
}

#man-stretching{
  width: 40vw;
}


}

@media (min-width:900px)
{
  .info-page-wrapper{
    height:130vh;
  }
}
@media (min-width:1024px)
{
  .info-page-wrapper{
    height:200vh;
  }
}