.intro-container{
    margin: 45% 16px;
    max-width: 70%;
    position: absolute;
    top: 0;
  }

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}

@media (min-width: 641px) {
    }

@media (min-width: 1025px) {
    .intro-container{
        margin: 15% 64px;
        max-width: 555px;
        position: absolute;
        top: 0;
        width: 50%;
      }
      h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 64px;
        line-height: 96px;
        letter-spacing: 1px;
    }
    
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 1px;
    }
    } 