.loading-page-wrapper h1{
    font-size: 1.6rem;
    font-style: bold;
    margin-left: 10px;
    margin-top:15%;
}

.text-wrapper {
    color: white;
    padding-left:5px;
    margin-top:10px
  }
  .loading-text {
  margin-top:40vh;
  margin-right:20px;
  margin-left:10px;
  margin-bottom:0px;
  width:70vw;
  font-weight: 800px;
  }

  .users {
    color:#03092E;
    font-size: 16px; 
    line-height: 1.2; 
  }
  
  .users > span {
    font-size: 24px; 
    font-weight: bold;
  }
  .trainers {
    color:#03092E;
    font-size: 16px; 
    line-height: 1.2; 
  }
  .trainers > span {
    font-size: 24px; 
    font-weight: bold;
  }