.loading-page-wrapper h1{
    font-size: 1.6rem;
    font-style: bold;
    margin-left: 10px;
    margin-top:20%;
}

.text-wrapper {
    color: white;
    padding-left:5px;
    margin-top:10px
  }
  .loading-text {
  margin-top:50vh;
  margin-right:20px;
  margin-left:10px;
  margin-bottom:20px;
  width:70vw;
  font-weight: 800px;
  }

  .users {
    color:#03092E;
    font-size: 16px; 
    line-height: 1.2; 
    margin-left:10px;
    width:150px;
    margin:0;
  }
  
  .users > span {
    font-size: 24px; 
    font-weight: bolder;
  }
  .trainers {
    color:#03092E;
    font-size: 16px; 
    line-height: 1.2; 
    width:150px;
    margin:0;
  }
  .trainers > span {
    font-size: 24px; 
    font-weight: bolder;
  }

  .users-trainers{
    display:flex;
    flex-direction: row;
    margin:20px;
  }

  @media (min-width: 640px)
{
  .loading-page-wrapper h1{
    font-size: 3.5rem;
    margin-left: 2rem;
    margin-top:98%;
    color: #03092E;
    margin-bottom: 0;
}

.loading-text{
  margin-top:2rem;
  color: white;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  margin-right: 0;

}
.users-trainers{
  margin:0;
  display: flex;
  justify-content: flex-end;
}
.users{
  color:white;
}
.trainers{
  color:white;
}
}