.why-container {
    background-color: white;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    position: relative;
    z-index: 5;
}

.why-box {
    margin: 32px 16px;
    border: 1px solid rgb(148, 103, 20);
    max-width: calc(100% - 32px);
    box-sizing: border-box;
    overflow-x: hidden;
}

.why-box h2 {
    margin-bottom: 16px;
    text-align: center;
}

  
@media (min-width: 641px) {
    .why-box {
        max-width: 60%;
        margin: 32px auto;
    }
  }

  @media (min-width: 1025px) {
    .why-box {
        max-width: 60%;
        margin: 32px auto;
    }
  }