.class-card-carousel {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.class-text-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 25px;
}

.p-carousel {
    text-align: left;
}

.h3-carousel {
    text-align: center;
}

.class-card-carousel img {
    border-radius: 16px;
    width: 100%;
}
