.classes-container {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.classes-title {
    position: relative;
    top: 100px;
    text-align: center;
}


.classes-section {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(9, 255, 0);
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.classes-section-carousel {
    padding: 32px;
}




@media (min-width: 641px) {
    .classes-section {
        flex-direction: column;
    }

    .classes-container h3 {
        text-align: center;
    }

    /*
    .classes-container h3 {
        text-align: right;
        margin: 0 32px 0 0;
    }
    */

}
    
@media (min-width: 1025px) {
    .classes-section {
        flex-direction: row;
    }

    .classes-container h3 {
        text-align: center;
    }
    
}