
i {
    font-size: 15px;
    color: #fff;
  }

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 250px 0 0 0;
}


.intro-text h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 38px;
    color: #fff;
    font-weight: bold;
    line-height: 41px;
    margin-bottom: 3rem;
}

.intro-text p {
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.blue-text p {
    color:#89D6E8;
    font-size: 18px;
    max-width: 21rem;
}

@media (max-width: 895px) {
    .blue-text p  {
    display: none;
    }
}
 @media (min-width: 895px) {
    .intro-text {
    align-items: flex-start;
    text-align: center;
    margin-left: 8rem;
}

    .blue-text p  {
        display: flex;
        }
}

