header {
    margin: 1.5rem;
    background-image: url(/public/img/dane-wetton-t1NEMSm1rgI-unsplash.png);
    background-position: center;
    background-size: cover;
    font-weight: 700;
    color: #F5F5F5;
    padding-bottom: 5rem;
}

h1 {
    font-size: 2rem;
}

.header-wrapper {
    margin: 1.5rem;
}

.logo-hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-hero {
    width: 64px;
}

.hero-overlay {
    margin-top: 10rem;
}

.burger {
    height: 40px;
}

