.benefits-background {
    height: 1235px;
    left: 81px;
    top: 964px;
    background: #D0C4B8; 
}

h1, h3, img, .benefits-cards {
    margin: 0;
}

.benefits-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0;
}

.benefits-text {
    padding: 24px 24px;
    font-family: Libre Baskerville;
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #02393F;
}

.promotion-card {
    height: 345px;
    width: 342px;
    left: 0px;
    top: 0px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 31px rgba(0, 0, 0, 0.16);
}

.card-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin: 32px 24px;
    color: #02393F;
}