.carousel .slide img {
    max-height: 318px; 
}

p{
    font-style: italic;
    font-weight: 600;
    font-size: 21px;
    line-height: 141%;
    text-align: center;
    letter-spacing: -0.022em;
    color: #000000;
    margin:0;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
    position:relative;
    opacity:1;
}

.carousel .control-prev.control-arrow{
    background:blue;
    top:184px;
    left:0;
    z-index:99;
    
}

.carousel .control-next.control-arrow {
    background:red;
    top:-200px;
    right:-330px;
    z-index:99;
}
