.cta-background {
    left: 81px;
    top: 2239px;
    border-radius: 0px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-cta {
    margin: 24px 48px;
}