
.easy-steps-container {
  background-color: #D7CBFF;
  width: 360px;
  height: 800px;
 
}

.easy-steps-container h2 {
  padding-top: 20px;
  padding-bottom: 80px;
width: 360px;
height: 100px;
color: #03092E;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 50px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -1px;
}

.easy-steps-container h3 {
margin-top: 30px;
font-size: 30px;
font-weight: 500;
color: #03092E;
padding-left: 20px;
} 

.cards img {
  margin: 20px;
}

.easy-steps-container p1 {
  width: 275px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 34px;
  display: flex;
  align-items: left;
  color: #03092E;
  padding: 20px;
 }

 .slider-container .slick-dots li {
  margin-right: 60px;

}

.slider-container .slick-dots li button:before {
  content: "";
  position: absolute;
  top: 50px ;
  width: 25px; 
  height: 25px; 
  background-color: #62CABC; 
  border-radius: 50%;
  opacity: 0.8; 
  margin-left: 20px;
}

.slider-container .slick-dots li.slick-active button:before {
  background-color: #082824; 
}

.slider-container{
  width: 320px;
  margin: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

