
.footer-container {
  width:100%;
  background-color: #42403C;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #42403C;
  height: 300px;
  font-family: 'sora';
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.6;
 
}