.footerWrapper {
  background-color: #F2FDFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px 0;
  }

.logoFooter {
    height: 40px;
    margin-bottom: 16px;
}

.company, .classes, .followUs {
    margin-top: 24px;
}
.iconWrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
}

@media (min-width: 450px) and (max-width: 666px) {


}

@media (min-width: 667px) and (max-width: 1024px) {




}