.quizWrapper {
    display: flex;
    flex-direction: column;
    background-color: #210440;
    justify-content: space-evenly;
    padding: 32px 0;
    align-items: center;
}

.quizTitle {
    color: #F2FDFF;
    font-size: 24px;
}

.quizIntro {
    color: #F2FDFF;
    font-size: 16px;
    margin: 20px auto;
}

