.quiz-container {
    background-color: #210440;
    color: #F2FDFF;
}

.quizheader {
    font-size: 24px;
    font-weight: 600;
}

.quizBtn {
    background-color: #FFD9BF;
    border: none;
    color:#210440;
    border-radius: 30px;
    width: 156px;
    height: 46px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
}