.testimonials {
display: flex;
background-image: url('/public/images/testimonials.png');
background-size: cover;
background-position: center;
flex-direction: column;
height: 100vh;
}

.testimonials h1 {
display: flex;
flex-direction: column;
color: #FBEDDE;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 48px;
margin-bottom: 20px;
text-align: center;
}

.testimonials-columns {
display: flex;
justify-content: space-evenly;
margin-top: 20px;
font-size: 26px;
font-weight: 400;
}

.testimonials-column {
display: flex;
flex-direction: column;
align-items: center;
font-family: "Poppins", sans-serif;
color: #E4A195;
text-align: center;
}

.button-container button {
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
background-color: #DBFE62;
border-radius: 47px;
  }

.button-container button:hover {
box-shadow: 0px 4px 8px rgba(14, 14, 16, 0.5);
cursor: pointer;
  }

.button-container button::selection {
box-shadow: 0px 8px 10px #0E0E10;
cursor: pointer;
color: #C6FF00;
  }