.faq-outer-wrapper {
    background-color: #D7CBFF;
    width: 100vw;
  }

  .faq-outer-wrapper h1 {
    text-align: center;
    color:#03092E;
    padding-top:20px;
    margin-bottom:0;
  }

  .faq-inner-wrapper {
    margin: 0 auto;
    padding:25px;
    font-size:1.25rem;
    text-align: center;
  }

  .faq-question {
    margin:10px;
    padding:15px;
    background-color: #e0d6ff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border:none;
    font-size:1.1rem;
    font-weight: bold;
    text-align: left;
  }

  





