.thebenefits-box {
    background-color: #95A6B5;
    width: 100%;
    height: 95%;
    color: white;
    display: flex;
    flex-direction: column;
}

.thebenefits-box h2 {
    font-size: 18px;
    font-style: italic;
}

.thebenefit-title-bold {
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
}

.check-text {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    line-height: 20px;
    padding-top: 15px;
}

.thebenefits-box p {
    font-size: 15px;
}

.benefit-list1 {
    padding: 50px;
    padding-bottom: 0px;
}
.benefit-list2 {
    padding: 50px;
    padding-top: 0px;
}
    
@media (min-width: 668px) {
    .benefit-list1 {
        padding-left: 20%;
}
.benefit-list2 {
    padding-left: 20%;
}
.thebenefits-box h2 {
    font-size: 30px;
}
}

@media (min-width: 1023px) {
    .thebenefits-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .benefit-list1 {
        padding: 50px;
        padding-bottom: 0px;
    }
    .benefit-list2 {
        padding: 50px;
        padding-top: 110px;
    }
}
