.how-to-achive-container {
    background-color: #181818;
    width: 69%;
    height: 800px;
    padding: 15%;
}

.how-to-achive-container h1 {
    color: white;
    font-size: 40px;
}

.how-to-achive-container h2 {
    color: white;
    font-size: 40px;
}