.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7034E4;
    color: #FBEDDE;
    padding: 8px 48px;
    gap: 1px;
    position: relative;
  }
  
  .navbar-logo {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .navbar-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navbar-images img {
   margin-left: 70px;
   cursor: pointer;
  }

  .navbar-logo-right {
    margin-left: 10px;
    cursor: pointer;
  }

    /* MOBILE SIZE */

  @media (max-width: 768px) {
    
    .navbar-images {
      display: none;
    }
    .navbar-logo {
        display: block;
    }
    
    .navbar-logo-right {
        display: block;
    }
  }