@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;700&display=swap');

* Box sizing rules */ *,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a className get default styles */
a:not([className]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* ---- Gereric ---- */

button {
  border-radius: 100px;
  width: 13rem;
  height: 3.6rem;
  font-weight: 700;
  font-size: 1.1rem;
}

/* ---- Main navigation ---- */

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.top-nav ul {
  display: none;
}
.top-nav button {
  display: none;
}

/* ---- Header ---- */

.header {
  background-image: url(./assets/images/childpose.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 30px;
  margin: 1rem;
  color: #ffff;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  height: 60vh;
  margin: auto auto;
}

.header-content h1 {
  font-size: 4rem;
  line-height: 131%;
  width: 332px;
}
.header-content p {
  width: 332px;
}

.logo-container {
  display: flex;
}

.logo-container * {
  padding: 1rem;
}

/* ----Benefits Container---- */
.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container > div:nth-child(1) {
  background-image: url(./assets/images/swanposition.jpg);
  background-position: center;
  background-size: cover;
}
.card-container > div:nth-child(2) {
  background-image: url(./assets/images/lunge.jpg);
  background-position: center;
  background-size: cover;
}
.card-container > div:nth-child(3) {
  background-image: url(./assets/images/breath.jpg);
  background-position: center;
  background-size: cover;
}
.card-container > div:nth-child(4) {
  background-image: url(./assets/images/breakfast.jpg);
  background-position: center;
  background-size: cover;
}
.card {
  position: relative;
  border-radius: 30px;
  margin: 2rem 1rem;
  height: 80vh;
  width: 80vw;
}

.card .card-text {
  position: absolute;
  bottom: 50px;
  left: 20px;
}

/* ---- Sticky Nav ---- */
.sticky-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 85vh;
}
.sticky-nav-container nav {
  background-color: black;
  color: #ffff;
  border-radius: 30px;
}

.sticky-nav-container nav ul {
  display: flex;
  justify-content: center;
}

.sticky-nav-container li {
  padding: 0.5rem 1rem;
  font-weight: 700;
}
