.motivation {
background-image: url('/public/images/motivation.png');
background-color: #28282B;
background-size: cover;
background-position: center;
height: 100vh;
display: flex;
flex-direction: column; /* Add this to stack items vertically */
}

.motivation h1 {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
color: #FBEDDE;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 48px;
margin-bottom: 20px; /* Add a margin bottom to create space between the h1 and images */
}

.motivation-columns {
display: flex;
flex-direction: row;
justify-content: center;
line-height: 32px;
}

.motivation-column {
display: flex;
flex-direction: column;
margin: 10px;
width: 500px;
}

.motivation-columns img {
max-width: 100%;
height: auto;
max-height: 300px; /* Set a maximum height for the images to prevent them from getting too large */
margin: 10px;
}

.motivation-columns p {
display: flex;
justify-content: center;
align-items: center;
color: #FBEDDE;
margin-top: 10px;
text-decoration: underline;
font-size: 26px;
}

.motivation-column h2 {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 32px;
margin-bottom: 10px;
color: #FBEDDE;
}

.motivation-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 20px;
  }

  .motivation-bottom p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: black;
    margin-right: 10px;
  }

  .motivation-bottom img {
    width: 25px;
    height: 25px;
  }
