.hero-img {
    background-image: url("https://i.postimg.cc/ZqyGDhyn/Hero.png");
    background-size: cover;
    background-position: top left 10px;
    background-repeat: no-repeat;
    height: 100%;
    max-height: 800px;
    width: 100%;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .block-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 800px;
    width: 35%;
    opacity: 1;
    background-color: var(--primary-color);
    z-index: 2;
  }
  

  @media (min-width: 641px) {
    .hero-img {
      max-height: 1000px;
    }

    .block-color {
      width: 30%;
      max-height: 1000px;
    }
  }

  @media (min-width: 1025px) {
    .hero-img {
      max-height: 1000px;
    }

    .block-color {
      width: 30%;
      max-height: 1000px;
    }
  }