.Background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-img {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
    height: 100%;
    min-height: 700px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .block-color {
    flex: 0.4;
    height: 100%;
    max-height: 1200px;
    min-height: 700px;
    width: 30%;
    background-color: var(--primary-color);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  

  @media (min-width: 641px) {
    .hero-img {
      max-height: 900px;
      background-position: 65% 30%;
    }

    .block-color {
      width: 30%;
      max-height: 900px;
    }
  }

  @media (min-width: 1025px) {
    .hero-img {
      min-height: 1000px;
      background-position: 65% 25%;
    }

    .block-color {
      width: 30%;
      min-height: 1000px;
    }
  }

  /*
  
.hero-img {
    background-image: url("https://i.postimg.cc/ZqyGDhyn/Hero.png");
        background-image: url("https://i.postimg.cc/ZqyGDhyn/Hero.png");
    background-size: cover;
    background-position: top left 10px;
    background-repeat: no-repeat;
    height: 100%;
    max-height: 800px;
    width: 100%;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 150px;
  }
  
  .block-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 800px;
    width: 35%;
    opacity: 1;
    background-color: var(--primary-color);
    z-index: 2;
    opacity: 0.5;
  }
  

  @media (min-width: 641px) {
    .hero-img {
      max-height: 1000px;
    }

    .block-color {
      width: 30%;
      max-height: 1000px;
    }
  }

  @media (min-width: 1025px) {
    .hero-img {
      max-height: 1000px;
    }

    .block-color {
      width: 30%;
      max-height: 1000px;
    }
  }
  */