
.classes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px 0 16px 0;
  }

  .yoga-container{
    width: 310px;
    padding-top: 20px; 
    margin-bottom: 50px;
}

.yoga-container h3{
    padding-bottom: 8px;
    text-align: center;
}

.yoga-style img {
  width: 200px;
  height: 200px;
}

.awssld__content {
  background-color: transparent;
}

.awssld {
  --organic-arrow-thickness: 0;
  --organic-arrow-height: 13px;
  --slider-height-percentage: 60%;
  --loader-bar-color: #fff;
  --loader-bar-height: 1px;
  --organic-arrow-color: #00000000;
}